.project-section {
	width: 100%;
	color: white;
}

.project-section h2 {
	margin: 1rem 0 0.8rem 0;
}

.ps-head-txt {
	font-family: ibmplexsans;
	font-variant: small-caps;
}

.project-list {
	display: flex;
	gap: 3rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/*grid-template-columns: 1fr 1fr;*/
}

.project-list li {
	list-style: none;
	background-color: orange;
	/*text-align: center;*/
}

.project-list li div {
	background-color: blue;
	width: 400px;
	min-width: 100%;
}