.welcome-section {
	background-color: var(--bg-color);
	color: var(--font-color);
	width: 100%;
	height: 100vh;
	/*padding: 7.8rem 6rem 0rem 6rem;*/
	padding: 0rem 6rem 0rem 6rem;
	display: flex;
	align-items: center;
	z-index: 0;
	transition: background-color 0.3s ease;
	max-width: 1366px;
	margin: 0 auto;
	justify-content: space-between;
	/*background-color: orange;*/

}

.coding-img2 {
	display: none;
}

.pbtn {
    background-color: transparent;
    padding: 1rem;
    text-decoration: none;
    /*color: var(--primary-font-color);*/
    color: var(--font-color);
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 3px;
    border: 1.5px solid var(--primary-font-color);
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-top: 1rem;
    font-family: Nunito;
    display: inline-block;
  	animation-name: pulse;
	animation-timing-function: ease-in-out;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.pbtn:hover {
	background-color: var(--primary-font-color);
	color: #fff;
}

.ws-left {
	background-color: orange;
	height: 100%;
	width: 60%;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	flex-direction: column;
	z-index: 2;
	padding-left: 6rem;
	/*overflow-y: scroll;*/
}

.ws-right {
	/*background-color: pink;*/
	height: 100%;
	align-items: center;
	width: 40%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 2;
	padding-right: 6rem;
}

.ws-left h4 {
	margin: 1rem 0;
	font-size: 2.2rem;
}

.ifex-name {
	font-family: colonna;
	font-weight: 500;
	margin-top: 0.2rem;
	font-size: 7rem;
}

.coding-img {
	width: 30rem;
}

.cta-wrapper {
	/*background-color: green;*/
	padding: 0;
	margin-top: 2rem;
}

.description {
	color: var(--less-font-color-opacity2);
}

.ws-left p {
	/*opacity: var(--reduced-opacity2);*/
	color: var(--less-font-color-opacity);
	line-height: 2.3rem;
}

.op1 {
	color: var(--font-color);
}

.tool-link a {
	color: rgb(87, 89, 136);
	transition: all 0.2s ease;
	font-weight: bold;
}

.tool-link a:hover {
	text-decoration: underline;
	color: var(--primary-font-color);
}

.wave-emoji {
	display: inline-block;
	transform: rotate(10deg);
	transform-origin: 100% 100%;
	animation-name: waveanim;
	animation-duration: .3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes waveanim {
	0% {
		transform: rotate(-5deg);
	},
	100% {
		transform: rotate(35deg);
	}
	
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}


/*>>>>>>>>>MEDIA QUERIES<<<<<<<<<< */

@media screen and (max-width: 1200px){
	.ifex-name {
		font-size: 6rem;
	}
}

@media screen and (max-width: 1138px) {
	.coding-img {
		width: 25rem;
	}

	.ws-right {
		width: 35%;
	}

	.ws-left {
		width: 65%;
	}
}

@media screen and (max-width: 1053px) {
	.ws-right {
		padding-right: 2rem;
	}

	.ws-left {
		padding-left: 2rem;
	}



}

@media screen and (max-width: 1023px) {
    .ws-left h4 {
		margin: 1rem 0;
		font-size: 2rem;

	}
}

@media screen and (max-width: 926px) {
	.coding-img {
		width: 20rem;
	}

	.ws-right {
		width: 32%;
	}

	.ws-left {
		width: 66%;
	}

	.ifex-name {
		font-size: 5rem;
	}
}

@media screen and (max-width: 820px) {
	.welcome-section {
		padding: 0 4rem;
	}

}

@media  screen and (max-width: 779px) {
	.ws-right {
		padding-right: 0rem;
	}

	.ws-left {
		padding-left: 0rem;
	}

}

@media  screen and (max-width: 720px) {
	.welcome-section {
		flex-direction: column-reverse;
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;
	}

	.ws-right {
		width: 100%;
		height: 0%;
		justify-content: center;
		align-items: flex-end;
	}

	.ws-left {
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	.coding-img {
		width: 15rem;
		display: none;
	}	

	.coding-img2 {
		display: block;
		width: 15rem;
	}


	.ws-left p {
		/*opacity: var(--reduced-opacity2);*/
		color: var(--less-font-color-opacity);
		line-height: 2.3rem;
		/*background-color: green;*/
		text-align: center;
		word-break: break;
		font-size: 1.5rem;

	}

	.ifex-name {
		text-align: center;
	}

	.ws-left h4 {
		text-align: center;
	}
}

@media screen and (max-width: 583px) {
	.ifex-name {
		font-size: 4rem;
	}

	.ws-left h4 {
		font-size: 1.8rem;
	}

	.coding-img2 {
		width: 13rem;
	}
}

@media screen and (max-width: 419px) {
	.ifex-name {
		font-size: 3.5rem;
	}

	.pbtn {
		padding: 0.8rem;
	}

}

@media screen and (max-width: 400px) {
	.welcome-section {
		padding: 4rem 1rem 0 1rem;
	}

	.ws-left h4 {
		/*background-color: green;*/
		margin: 0;
	}
}

@media screen and (max-width: 350px) {
	.coding-img2 {
		width: 8rem;
	}

		.welcome-section {
		padding: 6rem 1rem 0 1rem;
	}

}

@media screen and (max-width: 514px) and (max-height: 578px) {
	.pbtn {
		margin: 0;
	}

	.welcome-section {
		padding-bottom: 2rem;
	}
}

@media screen and (max-width: 527px) and (max-height: 525px) {
	.ws-left h4 {
		margin: 0.5rem 0;
	}

	.ws-left {
		padding-bottom: 0;
	}

	.cta-wrapper {
		margin-top: 0rem;
	}
}

@media screen and (min-width: 720px) and (max-height: 480px) {
	.cta-wrapper {
		margin-top: 0;
	}
	
}


@media screen and (min-width: 720px) and (max-height: 480px) {
	.ws-left h4, .ws-left p {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.cta-wrapper {
		margin-bottom: 0;
		transform: translateY(3rem);
	}

	.ifex-name {
		margin-bottom: 0;
		transform: translateY(0.4rem);
	}
}


@media screen and (min-width: 721px) and (max-height: 400px) {

	.ws-left p, .ws-left h4, .ifex-name {
		transform: translateY(1rem);
	}

	.cta-wrapper {
		margin-bottom: 1rem;
	}
}

@media screen and (min-width: 720px) and (max-height: 380px) {
.cta-wrapper {
	margin-bottom: 1rem;
	transform: translateY(0.2rem);
}

.ws-left h4:nth-child(2), .ifex-name {
	/*background-color: red;*/
	transform: translateY(2.5rem);

}

.ws-left, .ws-right {
	margin-top: 12rem;
}

}


@media screen and (max-width: 720px) and (max-height: 460px) {
	.coding-img2 {
		display: none;
	}

}


