@import url('./igifexstyles/icons/fontawesome/css/all.min.css');
@import url('./igifexstyles/Toastify.css');

/*>>>>>>>>>>FONT DECLARATION<<<<<<<<<<<*/

@font-face {
    font-family: humanstbt;
    src: url("./igifexstyles/fonts/humanstbt.ttf")
}

@font-face {
    font-family: colonna;
    src: url("./igifexstyles/fonts/colonna.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("./igifexstyles/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("./igifexstyles/fonts/Nunito-Regular.ttf");
}

/*>>>>>>>>END OF FONT DECLARATION<<<<<<<*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
    --font-color: rgba(255, 255, 255, 1);
    --primary-font-color: rgb(1, 196, 71);
    --bg-color: rgb(0, 0, 0);
    --rendered-icons-opacity: 0.2;
    --secondary-bg-color: rgba(15, 15, 15);
    --switch-shadow: rgb(1, 196, 71);
    --reduced-opacity: 0.7;
    --reduced-opacity2: 0.6;
    --reduced-opacity3: 0.9;
    --less-font-color-opacity: rgba(255, 255, 255, 0.6);
    --less-font-color-opacity2: rgba(255, 255, 255, 0.65);
    --third-bg-color: rgba(0, 0, 0, 0.6);
    --forth-bg-color: rgba(0, 0, 0, 0.8);
    --rendered-icons-opacity2: 0.2;
    --header-color: #fff;


}
[data-theme="light"] {
    --font-color: rgba(0, 0, 0, 1);
    --primary-font-color: rgb(1, 196, 71);
    --bg-color: #fff;
    --rendered-icons-opacity: 0.25;
    /*--secondary-bg-color: rgba(235, 235, 235);*/
    --secondary-bg-color: #eee;
    --switch-shadow: yellow;
    --reduced-opacity: 0.8;
    --reduced-opacity2: 0.7;
    --reduced-opacity3: 0.9;
    --less-font-color-opacity: rgba(0, 0, 0, 0.7);
    --less-font-color-opacity2: rgba(0, 0, 0, 0.8);
    --third-bg-color: rgba(255, 255, 255);
    --forth-bg-color: rgba(255, 255, 255, 0.7);
    --rendered-icons-opacity2: 0.25;
    --header-color: #000;
}


html {
	font-size: 65.2%;
	scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -moz-osx-font-smoothing: grayscale;

}

body {
	font-size: 1.8rem;
    font-family: humanstbt, OpenSans, Nunito, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    /*font-family: OpenSans;*/
	/*font-family: Nunito;*/
    background-color: var(--bg-color);
    transition: color 0.3s ease;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Nunito, OpenSans, Nunito, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 1.2rem;
    line-height: 2.5rem;
    word-spacing: .2.8rem;
    word-break: break-strict;
}

::selection {
    background-color: yellow;
    color: #000;
}

.header-wrapper {
    width: 100%;
}

.home-main {
    background-color: var(--bg-color);
    /*position: relative;*/
}

.main {
    background-color: var(--secondary-bg-color);
}

.para {
	background-color: purple;
}

.bold {
	font-weight: 700;
}


.rendered-icons {
  position: absolute;
  border-radius: 100%;
  opacity: var(--rendered-icons-opacity);
  z-index: 0;
}

.rendered-icons i {
    z-index: 0;
}

.project-section, .about-section, .contact-section {
    padding: 9rem 12rem 1rem 12rem;
    z-index: 3 !important;
    background-color: var(--secondary-bg-color);
    min-height: 100vh;
    opacity: 1;
    color: var(--font-color);
    transition: background-color 0.3s ease;
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
}

.dash {
    width: 2rem;
    height: 0.1rem;
    background-color: var(--font-color);
    display: inline-block;
    margin: 0 0 .7rem .5rem;
}

.project-section:before, .about-section:before, .contact-section:before {
    content: '';
    background: linear-gradient(90deg,rgba(0,0,0,0.0), var(--font-color), var(--font-color), var(--font-color), rgba(0,0,0,0.0));
    opacity: 0.7;
    display: block;
    width: 90vw;
    position: absolute;
    margin-left: auto;
    transform: translate(-50%, 7.3rem);
    height: 0.1rem;
    left: 50%;
    z-index: 2;
    top: 0rem;
}
/*
.project-section:after, .about-section:after, .contact-section:after {
    content: '';
    background: linear-gradient(90deg,rgba(0,0,0,0.0), var(--font-color), var(--font-color), var(--font-color), rgba(0,0,0,0.0));
    opacity: 0.7;
    display: block;
    width: 90vw;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, 0);
    height: 0.1rem;
    left: 50%;
    z-index: 2;
    bottom: 6.8rem;
    left: 0;
}*/

/*>>>>>SCROLLBAR<<<<<<<*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 00 5px black;
    border-radius: 10px
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-font-color);
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
/*
.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: red white;
    scrollbar-width: thin;
}*/


/*>>>>>MEDIA QUERIES<<<<<<<*/
@media screen and (max-width: 1053px) {
    .project-section, .about-section, .contact-section {
        padding: 9rem 8rem 1rem 8rem;
    }
}

@media screen and (max-width: 820px) {
    .project-section, .about-section, .contact-section {
        padding: 9rem 6rem 1rem 6rem;
    }
}

@media screen and (max-width: 779px) {
    .project-section, .about-section, .contact-section {
        padding: 9rem 4rem 1rem 4rem;
    }
}

@media screen and (max-width: 500px) {
    .project-section, .about-section, .contact-section {
        padding: 9rem 2rem 1rem 2rem;
    }
}


@media screen and (max-width: 1023px) {
    body {
        font-size: 1.6rem;
    }
}

@media  screen and (max-width: 720px) {
    .rendered-icons {
        opacity: var(--rendered-icons-opacity2);
    }
}